<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.johnyu.client.manager.mapper.ClientMapper">
    <select id="findClientByLoginNameAndPassword" resultType="cn.johnyu.client.manager.pojo.Client">
        select * from clients where loginName=#{lname} and password=#{password}
    </select>
</mapper>